.add-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.text-input {
  flex-grow: 6;
  padding: 3px 15px 3px 3px;
  font-size: 15px;
}

.warning-board {
  border-color: red;
}

.add-btn {
  flex-grow: 1;
  background-color: #fc999b;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 3px 10px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}

.space {
  flex-grow: 3;
}
